hmtl {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

main {
  grid-area: main;
  background-color: #fff;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.button {
  width: 100%;
  height: 32px;
  margin: 5px 0;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.button:hover {
  border: 1px #000 solid;
}

.button.green {
  background-color: #2ecc71;
}

.button.blue {
  background-color: #2980b9;
}

/*-------------products-------------*/
.products-sec {
  flex: 3 30%;
}

.our-products {
  margin: 20px 0;
  font-size: 36px;
  line-height: 42px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  border-left: 2px solid #c6c2c2;
}

.products li {
  list-style-type: none;
  width: 337px;
  height: 370px;
  margin: 25px 35px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.basics {
  align-self: baseline;
  font-size: 12px;
  line-height: 14px;
  width: 59px;
  height: 15px;
  color: #fff;
  text-align: center;
  background: #11d000;
  margin: 0;
}

.product-img {
  width: 110px;
  height: 175px;
}

.product-info {
  align-self: baseline;
}

.product-info p {
  margin: 10px 0;
}

.product-price {
  margin: 8px 0;
  font-size: 18px;
  line-height: 21px;
}

/*--------------------------------*/

/*--------------Filter------------*/
.filters {
  flex: 1;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  height: 100%;
  text-align: left;
}
/*--------------------------------*/

/*------------Cart----------------*/

.cart {
  display: flex;
  position: relative;
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.cart .counter-circle {
  position: absolute;

  left: 34px;
  top: -10px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(231, 76, 60, 0.96);
}

.cart p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.cart-sidebar {
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: default;
  top: 90px;
  right: 0vh;
  width: 100vw;
  height: 100vh;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 12, 12, 0.53);
  z-index: 1;
}

.sidebar-content {
  width: 493px;
  height: 100vh;
  padding: 0 25px;

  background-color: #fff;
  flex-grow: 1;
  text-align: left;
}

.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-content p {
  font-size: 24px;
  line-height: 28px;
}

.close-btn {
  width: 30px;
  height: 30px;
}

.recycle-btn {
  width: 25px;
  height: 25px;
}

.cart-list {
  padding: 0;
  margin: 0;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.cart-items img {
  width: 70px;
  height: 70px;
}

.subtotal {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

/*--------------------------------*/

/*Payent Form*/

.payment {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.payment-container {
  width: 60%;
}

form {
  display: flex;
  flex-direction: row;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.payment-form legend {
  padding-left: 3%;
}

.payment-form ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.payment-form ul li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 199px;
  margin: 15px 29px;
}

.payment-products {
  width: 100%;
}
/*--------------------------------*/

/*Product detail*/

.product-detail {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.product-detail_container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.product-detail_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: left;
}

.product-detail_image {
  width: 250px;
  height: 334.27px;
}

.product-detail_elements {
  width: 380px;
}

.product-detail_name {
  font-size: 36px;
  line-height: 42px;
  margin: 5px 0;
}

.product-detail_price {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 42px;
  margin: 10px 0;
}

.basics-detail {
  font-size: 14px;
  line-height: 16px;
  width: 59px;
  height: 15px;
  color: #fff;
  text-align: center;
  background: #11d000;
  margin-left: 18px;
  padding: 7px 20px;
}

.product-detail_p {
  margin: 10px 0;
}

.comments-border {
  margin: 60px 0 20px;
  border: 1px solid #e3e3e3;
  width: 100%;
}

.comment {
  margin: 20px 0;
  border-bottom: 1px solid #e3e3e3;
}

.comment h4,
p {
  margin: 6px;
  padding: 0;
}

/*--------------------------------*/

/* Comments in product */

.stars-and-globe {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comments-img {
  width: 15px;
  height: 15px;
}

.star {
  width: 20px;
  height: 20px;
}
